/* navbar */
#navbar .logo{
    float:none;
    text-align: center;
}

#navbar ul,
#navbar ul li{
    float:none;
    border-bottom: #fff dotted 1px;
}

/* home-info */
#home-info{
    height:550px;
}

#home-info .info-img{
    display: none;
}

#home-info .info-content{
    float:none;
    width:100%;
    text-align: center;
    padding-top: 160px;
}
#home-info .info-content p{
    padding-bottom: 30px;
}

/* Features */
.box{
    float:none;
    width:100%;
}

/* about us page */

#about-info .info-right,
#about-info .info-left{
    float:none;
    text-align: center;
    width:100%;
}

#about-info .info-left {
    margin-bottom:50px
}

/* contact */

#contact-info .box{
    border: #444 solid 1px;
}
